.layout{
    position: relative;
    padding: 15px 15px;

    
}
.layout-header nav{
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    background-color: rgb(127, 255, 212);
}

.layout-header nav ul{
    display: flex;
    list-style-type: none;
    color: black;
    
}
.layout-header nav ul li {
    display: inline;
    margin-right: 40px; 
  }
  